openapi: "3.1.0"

info:
  title: WorkPing API
  version: "1.0.0"
  description: |
    REST API for WorkPing — a multi-tenant workforce management platform.

    **Authentication**
    Most endpoints require a valid JWT delivered as an HttpOnly cookie (`accessToken`)
    or a `Authorization: Bearer <token>` header.

    **Rate Limits**
    - General: 200 requests / 15 min per IP
    - Auth / OTP: 10 requests / 15 min per IP

servers:
  - url: https://workping.live
    description: Production
  - url: http://localhost:5000
    description: Local development

tags:
  - name: health
    description: Liveness and readiness probes
  - name: auth
    description: Authentication — admin and user login, tokens
  - name: otp
    description: OTP issuance and verification
  - name: 2fa
    description: TOTP-based two-factor authentication
  - name: attendance
    description: Employee check-in / check-out
  - name: admin-organization
    description: Organization management (admin only)
  - name: admin-employees
    description: Employee lifecycle (admin / manager)
  - name: admin-teams
    description: Team management (admin / manager)
  - name: admin-projects
    description: Project management (admin / manager)
  - name: admin-leaves
    description: Leave approval (admin)
  - name: admin-shifts
    description: Shift management (admin)
  - name: admin-payroll
    description: Payroll and salary (admin)
  - name: admin-payments
    description: Subscription payments (admin)
  - name: user-profile
    description: Employee self-service — profile
  - name: user-leaves
    description: Employee self-service — leaves
  - name: user-dashboard
    description: Employee dashboard and analytics
  - name: public
    description: Publicly accessible endpoints (no auth)

# ─── Reusable components ───────────────────────────────────────────────────
components:
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: accessToken
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    SuccessResponse:
      type: object
      properties:
        type:
          type: string
          example: success
        message:
          type: string

    ErrorResponse:
      type: object
      properties:
        type:
          type: string
          example: error
        message:
          type: string

    HealthResponse:
      type: object
      properties:
        status:
          type: string
          example: UP
        timestamp:
          type: string
          format: date-time

    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          format: password

    TokenResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessResponse"
        - type: object
          properties:
            data:
              type: object
              properties:
                token:
                  type: string
                refreshToken:
                  type: string
                role:
                  type: string
                  enum: [admin, manager, teamlead, employee, user]

    OtpRequest:
      type: object
      required: [email]
      properties:
        email:
          type: string
          format: email

    Employee:
      type: object
      properties:
        _id:
          type: string
        name:
          type: string
        email:
          type: string
          format: email
        role:
          type: string
        department:
          type: string
        status:
          type: string
          enum: [active, inactive]

    LeaveRequest:
      type: object
      required: [startDate, endDate, reason, type]
      properties:
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
        reason:
          type: string
        type:
          type: string
          enum: [sick, casual, earned, maternity, paternity, unpaid]

    AttendanceRecord:
      type: object
      properties:
        _id:
          type: string
        employeeId:
          type: string
        checkIn:
          type: string
          format: date-time
        checkOut:
          type: string
          format: date-time
        status:
          type: string
          enum: [present, absent, half-day, late]

  responses:
    Unauthorized:
      description: Missing or invalid authentication token
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Forbidden:
      description: Authenticated but not authorized for this resource
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    TooManyRequests:
      description: Rate limit exceeded
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

security:
  - cookieAuth: []
  - bearerAuth: []

# ─── Paths ────────────────────────────────────────────────────────────────
paths:

  # ── Health ──────────────────────────────────────────────────────────────
  /health:
    get:
      tags: [health]
      summary: Liveness probe
      description: Used by Docker health checks and load balancers. No auth required.
      security: []
      responses:
        "200":
          description: Service is up
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"

  /metrics:
    get:
      tags: [health]
      summary: Prometheus metrics
      description: Exposes request latency, error counts, and Node.js process metrics.
      security: []
      responses:
        "200":
          description: Prometheus text format
          content:
            text/plain:
              schema:
                type: string

  # ── Auth — Admin ─────────────────────────────────────────────────────────
  /api/admin/auth/login:
    post:
      tags: [auth]
      summary: Admin login
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
      responses:
        "200":
          description: Login successful — sets accessToken cookie
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /api/admin/auth/logout:
    post:
      tags: [auth]
      summary: Admin logout — clears auth cookie
      responses:
        "200":
          description: Logged out
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"

  /api/auth/login:
    post:
      tags: [auth]
      summary: Employee login
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
      responses:
        "200":
          description: Login successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /api/auth/refresh:
    post:
      tags: [auth]
      summary: Refresh access token
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refreshToken]
              properties:
                refreshToken:
                  type: string
      responses:
        "200":
          description: New access + refresh token pair
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /verify-cookie:
    get:
      tags: [auth]
      summary: Verify current session and return user profile
      responses:
        "200":
          description: Valid session
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/Employee"
        "401":
          $ref: "#/components/responses/Unauthorized"

  # ── OTP ──────────────────────────────────────────────────────────────────
  /api/otp/send:
    post:
      tags: [otp]
      summary: Send OTP to email
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OtpRequest"
      responses:
        "200":
          description: OTP sent
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /api/otp/verify:
    post:
      tags: [otp]
      summary: Verify OTP
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, otp]
              properties:
                email:
                  type: string
                  format: email
                otp:
                  type: string
      responses:
        "200":
          description: OTP valid
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "400":
          description: Invalid or expired OTP
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  # ── Attendance ────────────────────────────────────────────────────────────
  /api/attendance/check-in:
    post:
      tags: [attendance]
      summary: Employee check-in (face + GPS verification)
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                image:
                  type: string
                  format: binary
                  description: Face photo for biometric verification
                latitude:
                  type: number
                longitude:
                  type: number
      responses:
        "200":
          description: Check-in recorded
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/AttendanceRecord"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/attendance/check-out:
    post:
      tags: [attendance]
      summary: Employee check-out
      responses:
        "200":
          description: Check-out recorded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/user/attendance:
    get:
      tags: [attendance]
      summary: Get employee's own attendance history
      parameters:
        - name: month
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 12
        - name: year
          in: query
          schema:
            type: integer
      responses:
        "200":
          description: Attendance records
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/AttendanceRecord"
        "401":
          $ref: "#/components/responses/Unauthorized"

  # ── Admin — Organization ──────────────────────────────────────────────────
  /api/admin/organization:
    get:
      tags: [admin-organization]
      summary: Get organization details
      responses:
        "200":
          description: Organization data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

    patch:
      tags: [admin-organization]
      summary: Update organization settings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                address:
                  type: string
                timezone:
                  type: string
      responses:
        "200":
          description: Organization updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  # ── Admin — Employees ─────────────────────────────────────────────────────
  /api/admin/get-all-employees:
    get:
      tags: [admin-employees]
      summary: List all employees
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: search
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Paginated employee list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Employee"
                  total:
                    type: integer
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /api/admin/add-employees:
    post:
      tags: [admin-employees]
      summary: Add a new employee
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, email, role]
              properties:
                name:
                  type: string
                email:
                  type: string
                  format: email
                role:
                  type: string
                  enum: [employee, manager, teamlead]
                department:
                  type: string
      responses:
        "201":
          description: Employee created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /api/admin/employee/{id}:
    get:
      tags: [admin-employees]
      summary: Get employee by ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Employee record
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/Employee"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

    delete:
      tags: [admin-employees]
      summary: Remove employee
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Employee removed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  # ── Admin — Leaves ────────────────────────────────────────────────────────
  /api/admin/leaves:
    get:
      tags: [admin-leaves]
      summary: List all leave requests
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, approved, rejected]
      responses:
        "200":
          description: Leave request list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/admin/leaves/{id}/approve:
    patch:
      tags: [admin-leaves]
      summary: Approve a leave request
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Leave approved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/admin/leaves/{id}/reject:
    patch:
      tags: [admin-leaves]
      summary: Reject a leave request
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Leave rejected
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  # ── User — Leaves ─────────────────────────────────────────────────────────
  /api/user/leaves:
    get:
      tags: [user-leaves]
      summary: Get own leave requests
      responses:
        "200":
          description: Leave requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

    post:
      tags: [user-leaves]
      summary: Submit a leave request
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LeaveRequest"
      responses:
        "201":
          description: Leave request submitted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  # ── User — Dashboard ──────────────────────────────────────────────────────
  /api/user/dashboard:
    get:
      tags: [user-dashboard]
      summary: Employee dashboard summary
      description: Returns attendance stats, upcoming leaves, and recent payroll info.
      responses:
        "200":
          description: Dashboard data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  # ── Public ────────────────────────────────────────────────────────────────
  /api/public/stats:
    get:
      tags: [public]
      summary: Platform-wide statistics (no auth)
      security: []
      responses:
        "200":
          description: Aggregate platform stats
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalOrganizations:
                    type: integer
                  totalEmployees:
                    type: integer

  /api/admin/plans:
    get:
      tags: [public]
      summary: Subscription plan listing
      security: []
      responses:
        "200":
          description: Available plans
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
